h2{
  color: #4F6367;
  font-family: "montserrat", sans-serif;
  opacity: 0.8;
  font-size: 1.4rem;
  text-transform: uppercase;
}
body{
  background-color: #EEF5DB;
}
.huge{
	padding-top: 7%;
	margin: auto;

}
.lead{
	font-family: 'andada';
	font-size: .8rem;
	line-height: 5px;
}
